- title = "BCH-SV Block Explorer"
!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title #{title}
    = assets :css

    :ruby
      def space(spacing=80, spacingV=35)
        spacingV = ", #{spacingV}" if spacingV
        space = "#{spacing}#{spacingV}"
        "
        height:  #{space}px;
        margin:  #{space}px;
        padding: #{space}px;
        "
      end

    :css
      /* TODO: move to style.css */
      .inline {
        display: inline-block !important;
        width: auto !important;
      }

      .btn-big {
        font-size: 1.6em;
      }

      /* layout */
      .container > .right,
      .container > nav a, {
        #{space 0, 50}
        width: 0;
      }


    -# .container > .right > .status,
    -# .container > .right > a.right.btn {
    -#   #{space 20}
    -# }

  %body{ class: body_class }
    .container
      -# TODO: remove
      -#
      -# - unless request.path == "/blocks_new"
      -#   .right{ style: { :"text-align" =>"right" } }
      -#     /
      -#     .three-d.set_fonts
      -#       .status
      -#         #{Bitcoin.status}
      -#       -# .set_fonts
      -#     %a.right.inline.btn{ data: {dir: "decrease"} } -
      -#     .right.inline \/
      -#     %a.right.inline.btn{ data: {dir: "increase"} } +
      -#     %a.right.inline.btn.button.btn-big{ href: "/blocks_new" } 3D

      %h1
        %a{ href: "/" } #{title}
      /
        %nav
          %a.btn{ href: "/blocks" } Blocks

      %section.content
        = assets :js
        = yield
    .modal
      %a.modal-close{ href: "javascript:void(0)" } X
      .modal-content
    -# FIXME
    -#
    -# assets :js
    = content_for :js
    :coffee
      curSize = 14
      $(".set_fonts .btn").on "click", (evt) ->
        console.log evt.target.dataset
        if (evt.target.dataset.dir == "increase")
          curSize += 2
        else
          curSize -= 2

        $('.container').css 'font-size', curSize
