- title = "BCH-SV Block Explorer"
!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %title #{title}
    = assets :css

    :ruby
      def space(spacing=80, spacingV=35)
        spacingV = ", #{spacingV}" if spacingV
        space = "#{spacing}#{spacingV}"
        "
        height:  #{space}px;
        margin:  #{space}px;
        padding: #{space}px;
        "
      end

    :css
      .container > .right,
      .container > nav a, {
        #{space 0, 50}
        width: 0;
      }


  %body{ class: body_class }
    .container
      %h1
        %a{ href: "/" } #{title}
      .s20
      %section.content
        = assets :js
        = yield
    .modal
      %a.modal-close{ href: "javascript:void(0)" } X
      .modal-content
    -# FIXME
    -#
    -# assets :js
    = content_for :js
    :coffee
      curSize = 14
      $(".set_fonts .btn").on "click", (evt) ->
        console.log evt.target.dataset
        if (evt.target.dataset.dir == "increase")
          curSize += 2
        else
          curSize -= 2

        $('.container').css 'font-size', curSize
