- title = "#{CHAIN_NAME} Block Explorer"
!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title #{title}
    = assets :css

  %body{ class: body_class }
    .container
      %h1
        %a{ href: "/" } #{title}
      .s20
      %section.content
        = yield
    .modal
      %a.modal-close{ href: "javascript:void(0)" } X
      .modal-content

    -#  TODO: move templates both in a partial and in just blocks.haml
    %script.block_template{ type: "text/x-handlebars-template" }
      :plain
        <h4>Block info:</h4>
        <p>Time: {{time}}</p>
        <p>Confirmations: {{confirmations}}</p>
        <p>Size: {{size}} bytes</p>
        <h4>Transactions ({{tx_count}})</h4>
        {{#each tx}}
          <div class='tx'><a href='/txs/{{this}}'>{{this}}</a></div>
        {{/each}}

    %script.block_not_found_template{ type: "text/x-handlebars-template" }
      :plain
        <h4>Block Not found</h4>


    %script.block_cursor_template{ type: "text/x-handlebars-template" }
      :plain
        <div class="line"></div>
        <div class="line"></div>
        <div class="block block_prev" data-url="/blocks/{{ block_prev }}" data-block-count={{ block_prev }}>
          <span class="text">←</span>
        </div>
        <div class="line"></div>
        <div class="block block_curr" data-url="/blocks/{{ block_curr }}" data-block-count={ block_curr }>
          {{ block_curr }}
        </div>
        <div class="line"></div>
        <div class="block block_next" data-url="/blocks/{{ block_next }}" data-block-count={{ block_next }}>
          <span class="text">→</span>
        </div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line_dot"></div>

    = assets :js
    = content_for :js
