- title = "BCH-SV Block Explorer"
!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title #{title}
    = assets :css

  %body{ class: body_class }
    .container
      %h1
        %a{ href: "/" } #{title}
      .s20
      %section.content
        = yield
    .modal
      %a.modal-close{ href: "javascript:void(0)" } X
      .modal-content
    -# FIXME
    -#

    %script.tx_template{ type: "text/x-handlebars-template" }
      :plain
        <h4>Block info:</h4>
        <p>Time: {{time}}</p>
        <p>Confirmations: {{confirmations}}</p>
        <p>Size: {{size}} bytes</p>
        <h4>Transactions ({{tx_count}})</h4>
        {{#each tx}}
          <div class='tx'><a href='/txs/{{this}}'>{{this}}</a></div>
        {{/each}}
        
    = assets :js
    = content_for :js
